.item-details-portrait {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    max-height: 100vh;
    overflow: hidden; 
    margin: 0 auto;
    transition: all 0.5s ease;
  }
  .item-details-card{
    transition: all 0.5s ease;
  }

  .item-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: all 0.5s ease;
  }

  .toggle-btn {
    background: linear-gradient(135deg, #7d7b83, #6c09dd);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    white-space: nowrap; 
    min-width: 150px;
    text-align: center; 
  }
  
  .toggle-btn:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  
  .toggle-btn:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  

  .item-image-wrapper {
    width: 100%;
    height: 35vh;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid black;
    transition: all 0.5s ease;
  }
  
  .item-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;
  }
  
  .item-info {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    overflow-y: auto; 
    border: 1px solid black;
    transition: all 0.5s ease;
  }
  
  .item-info h2 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    transition: all 0.5s ease;
  }
  
  .item-content {
    max-height: 50vh;
    overflow-y: auto; 
    transition: all 0.5s ease;
  }
  
  .item-table {
    width: 100%;
    border-collapse: collapse;
    transition: all 0.5s ease;
  }
  
  .item-table td {
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: all 0.5s ease;
    color: #555;
  }
  
  .item-table td:first-child {
    font-weight: 600;
    color: #333;
    transition: all 0.5s ease;
  }
  
  .status-label {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  .status-label.in_stock {
    background-color: #4caf50;
    color: white;
  }
  
  .status-label.out_of_stock {
    background-color: #f44336;
    color: white;
  }
  