body {
 font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 25%;
  background-color: #f5f5f5;
  padding: 20px;
}

.main-container {
  flex: 1;
  padding: 20px;
}

.tree-node-header {
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}

.tree-node-children {
  padding-left: 20px;
  margin-bottom: 10px;
}

.app {
  display: flex;
  height: 100vh; 
}

.sidebar-container {
  width: 25%;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto; 
  max-height: 100vh; 
}

.main-container {
  flex: 1;
  padding: 20px;
}

.item-details {
  background-color: #e5e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(2, 2, 2, 0.1); 
  padding: 20px; 
  max-width: 400px; 
  margin: 20px auto;
  border: 2px solid #252525;
}

.item-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.item-details img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
}

.item-details p {
  margin: 8px 0;
  font: 24px solid black;
  font-weight: bold;
}

.item-details p span {
  font-weight: bold;
  color: #333;
}

.item-details .category, .status, .brand {
  font-weight: bold;
}
