* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.main-container {
  flex: 1;
  padding: 20px;
}

.sidebar-container {
  width: 30%;
  background-color: #fdf8f8;
  padding: 20px;
  overflow-y: auto;
  max-height: 100vh;
}

.sidebar h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.tree-node {
  margin-left: 20px;
  cursor: pointer;
}

.tree-node-header {
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 5px 0;
}

.tree-node-children {
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.tree-node-children div {
  padding: 5px 0;
  cursor: pointer;
}
.tree-node-children div:hover {
  background-color: #f0f0f0;
}

.tree-item:hover {
  text-decoration: underline;
}
